@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&family=Roboto:wght@100;300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fff;
  margin: 0 auto;
  height: 100vh;
}

/*
*Dark mode
*/

.giphos__container.dark {
  background-color: #201e1e;
  transition: all 1s ease;
}

.dark .header__button {
  background-color: #201e1e;
  border: 2px solid white;
  color: white;
}

.dark h1,
.dark h3 {
  color: #f9ca24;
  font-weight: 400;
}

.dark .container__gifs {
  background-color: #292323e8;
}

.dark .search__input {
  background-color: #201e1e;
  transition: all 1s ease;
  color: #f7d794;
}

.dark .search__containerList {
  border: 1px solid white;
}

.dark .search__containerList p {
  color: #fff;
  transition: all 1s ease;
}

.dark .error__container {
  color: white;
}

.dark .task_container{
  background-color: #292323e8
}

.dark .header{
  background-color: #292323e8
}

.dark .footer__container {
  background: #ecf0f1;
  color: #2c3e50;
}

.dark .card_wrapper{
  background: #9c88ff;
}