.card_btnEditar{
    border: 2px solid #f1c40f;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 15px;
    background: #f6e58d;
    cursor: pointer;
    text-decoration: none;
}

.card_btnEditar:hover{
    
}

.card_btnBorrar{
    border: 2px solid #eb4d4b;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 15px;
    background: #ff7979;
    cursor: pointer;
    text-decoration: none;
}

.card_inputTask{
    margin-left: 100px;
    width: 400px;
    padding: 7px;
    margin-bottom: 10px;
    overflow: auto;
    margin-right: 20px;
}